.card-language
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  width: 55%
  
  & span
    display: inline-block
    height: 30px
    width: 30px
    border-radius: 50%
    cursor: pointer
    background-color: var(--bg-language)

    &.locale-active
      background-color: var(--skin-color)

  & .ru, & .en, & .pl
    font-weight: 900
    line-height: 30px
    text-align: center
    font-size: 13px
    transition: all .3s ease-in-out
  