.portfolio

  & .container
    padding-bottom: 40px

  & .portfolio-heading
    flex: 0 0 100%
    max-width: 100%
    margin-bottom: 40px

    & h2
      color: var(--text-black-900)
      font-weight: 500

  & .portfolio-item
    flex: 0 0 33.33%
    max-width: 33.33%
    margin-bottom: 30px

  & .portfolio-item-inner
    border: 6px solid var(--bg-black-100)
    border-radius: 10px
    overflow: hidden
    cursor: pointer

    & .portfolio-img img
      width: 100%
      display: block
      border-radius: 10px


.portfolio-filter
  width: 100%
  margin-bottom: 40px

.filter-btn
  width: 170px
  padding: 10px 0px
  border: 6px solid var(--bg-black-100)
  border-radius: 10px
  font-size: 14px
  font-weight: bold
  color: var(--text-black-900)
  background-color: var(--bg-black-900)
  cursor: pointer
  &:not(:last-child)
    margin-right: 10px
    margin-bottom: 10px
  &.active
    color: var(--skin-color)


.portfolio-item-bg
  background: var(--bg-black-100)

.portfolio-title
  color: var(--text-black-900)
  font-weight: 500
  font-size: 1rem
  padding: 10px 5px 0px 5px

// стили project

.slider
  // width: 100%
  margin: 20px auto

  & .slider-container
    display: flex
    border: 6px solid var(--bg-black-100)
    border-radius: 10px
    overflow: hidden

    & .slider-inner
      flex: 1 0 100%
      display: flex
      justify-content: center
      align-items: center

    & img
      width: 100%
      transition: all 0.5s ease-in-out

  & .slider-btn
    position: absolute
    width: 100%
    height: calc(100% - 44px)
    top: 0
    margin: 22px 0 

    & .next,
    & .past
      font-size: 16px
      font-weight: 500
      padding: 12px 35px
      color: var(--text-black-700)
      cursor: pointer
      border: none
      height: 100%
      background: transparent
      border-radius: 6px

      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        transition: all .3s ease-in-out

      & i
        font-size: 40px
        color: var(--skin-color)
        position: relative
        z-index: 1 
        transition: all .3s ease-in-out

    & .next
      position: absolute
      right: 0

      &::after
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--bg-black-100) 100%)
        
      &:hover::after
          opacity: 1

      &:hover i
        transform: scale(1.9)

    & .past
      position: absolute
      left: 0

      &::after
        background: linear-gradient(270deg, rgba(255,255,255,0) 0%, var(--bg-black-100) 100%)
      
      &:hover::after
          opacity: 1

      &:hover i
        transform: scale(1.9)

.btn-details
  justify-content: flex-start

  & .btn
    padding: 11px 16px
    margin-right: 10px

    & span i
      transition: all 1s ease-in-out
    
    & .isOpen i 
      transition: all 1s ease-in-out
      transform: rotate(45deg)

.group-btn 
  display: flex

// стили cardinfo

.container hr
  border: 1px solid var(--text-black-900)
  margin: 20px 0

.project-card
  visibility: hidden
  overflow: hidden
  height: 0
  opacity: 0
  transition: all 1.5s ease

.active 
  visibility: visible
  opacity: 1

.project-tag
  font-size: 15px
  color: var(--text-black-700)
  margin-bottom: 30px
  margin-top: -30px
  
  & small 
    margin-right: 10px

.project-content 
  display: flex
  justify-content: space-between
  margin-bottom: 15px
  
  & h3 
    font-size: 24px
    margin-bottom: 15px
    font-weight: 700
    color: var(--text-black-900)
    
  & .project-title
    flex: 1 0 70%


.project-title,
.project-tech-title 
  padding-right: 20px


.project-title p,
.project-tech-title ul
  font-size: 15px
  color: var(--text-black-700)