.portfolio

  & .container
    padding-bottom: 40px

  & .portfolio-heading
    flex: 0 0 100%
    max-width: 100%
    margin-bottom: 40px

    & h2
      color: var(--text-black-900)
      font-weight: 500

  & .portfolio-item
    flex: 1 0 33.33%
    min-width: 340px
    margin-bottom: 30px

  & .portfolio-item-inner
    height: 100%
    border: 6px solid var(--bg-black-100)
    border-radius: 10px
    overflow: hidden
    cursor: pointer

    & .portfolio-img
      height: 100%
      display: flex
      align-items: center

    & img
      width: 100%
      display: block
      border-radius: 10px

.portfolio-filter
  width: 100%
  margin-bottom: 40px

.filter-btn
  width: 170px
  padding: 10px 0px
  border: 6px solid var(--bg-black-100)
  border-radius: 10px
  font-size: 14px
  font-weight: bold
  color: var(--text-black-900)
  background-color: var(--bg-black-900)
  cursor: pointer
  &:not(:last-child)
    margin-right: 10px
    margin-bottom: 10px
  &.active
    color: var(--skin-color)


.portfolio-item-bg
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  background: var(--bg-black-100)

.portfolio-title
  color: var(--text-black-900)
  font-weight: 500
  font-size: 1rem
  padding: 10px 5px 0px 5px